<div class="wrapper wrapper-content">
  <br>
  <br>
  <div id="autoscroll">
    <div id="Timeline">
      <div id="ContransPart">
        <div class="Container" id="Stage1">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae tempora natus soluta,
            ipsam quaerat vero beatae velit accusantium unde provident voluptate amet reiciendis cupiditate vel nulla
            quibusdam laboriosam tempore est.</div>
        </div>
        <div class="Container" id="Stage2">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus provident quidem
            necessitatibus? Ad dolore aut aspernatur corrupti deleniti vero necessitatibus. Enim ratione voluptas
            delectus cumque nihil tempore libero sunt blanditiis?</div>
        </div>
        <div class="Container" id="Stage3">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage4">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage5">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage6">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage7">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
      </div>
      <div id="IntegralPart" *ngIf="TieneIntegral">
        <div class="Container" id="Stage1">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum itaque ipsum quo iusto? Modi labore distinctio blanditiis commodi, minus corporis voluptatum neque iusto. Dolore, iusto. Quas cumque minus sit rem.</div>
        </div>
        <div class="Container" id="Stage2">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage3">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage4">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
        <div class="Container" id="Stage5">
          <div class="carrito">carrito</div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">estado</div>
        </div>
      </div>
    </div>
  </div>
</div>
