div#autoscroll {
  overflow-y: hidden;
  overflow-x: auto;
}

div#Timeline {
  display: inline-flex;
}

div#Timeline div {
  width: 100%;
  /* vertical-align: 50px; */
}

div#Timeline div#ContransPart {
  display: flex;
}

div#Timeline div#ContransPart div.Container {
  width: 100%; /*<<----- ANCHO DE CADA ESTADO*/
  /* width: 85px; */
  flex-grow: 6;
}


div#Timeline div#ContransPart div.Container div.medio div.LineaContainer {
  border: 2px solid red;
  height: 1px;
  position: relative;
  top: 50%;
}


div#Timeline div#IntegralPart {
  display: flex;
}

div#Timeline div#IntegralPart div.Container {
  width: 100%; /*<<----- ANCHO DE CADA ESTADO*/
  flex-grow: 4;

}

div#Timeline div#IntegralPart div.Container div.medio div.LineaContainer {
  border: 2px solid blue;
  height: 1px;
  position: relative;
  top: 50%;
}

div.Container div.medio {
  z-index: 0;
}

div.Container div.medio div.iconostage {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -10px); /*<--- tamaño del icono del centro*/
}

div.Container div.medio i { /*<----- el icono */
  position: absolute;
  zoom: 200%;
}


div.Container div.carrito {
  /* display: flex; */
  text-align: center;
  height: 30px;
}

div.Container div.estado {
  padding-top: 15px;
}
