

div#autoscroll {
  overflow-y: hidden;
  overflow-x: auto;
}

div#Timeline {
  display: inline-flex;
  /* padding-top: 300px; */
  padding-top: 15%;
}

div#Timeline div {
  width: 100%;
  /* vertical-align: 50px; */
}

div#Timeline div#ContransPart {
  display: flex;
}

div#Timeline div#ContransPart div.Container {
  width: 85px; /*<<----- ANCHO DE CADA ESTADO*/
  /* width: 85px; */
  flex-grow: 6;
}


div#Timeline div#ContransPart div.Container div.medio div.LineaContainer {
  border: 1px solid rgb(0, 38, 255);
  height: 1px;
  position: relative;
  top: 50%;
}


div#Timeline div#IntegralPart {
  display: flex;
}

div#Timeline div#IntegralPart div.Container {
  width: 85px; /*<<----- ANCHO DE CADA ESTADO*/
  flex-grow: 4;

}

div#Timeline div#IntegralPart div.Container div.medio div.LineaContainer {
  border: 1px solid rgb(0, 217, 255);
  height: 1px;
  position: relative;
  top: 50%;
}

div.Container div.medio {
  z-index: 0;
}

div.Container div.medio div.iconostage {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-8px, -7px); /*<--- tamaño del icono del centro*/

}

div.Container div.medio i { /*<----- el icono */
  position: absolute;
  zoom: 150%;
  color: #000;
}

div.Container div.carrito {
  /* display: flex; */
  text-align: center;
  height: 60px;
}

div.carrito * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

div.carrito i {
  zoom: 300%;
  transform: rotateY(180deg);
}

div.carrito label {
  font-weight: bolder;
  color: white;
  position: relative;
  top: -32px;
  left: -6px;
}

div.Container div.estado {
  padding-top: 15px;

}

div.estado * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* position: relative;
  top: 50%;
  left: 50%; */

}

div.estado i {
  zoom: 150%;
  padding-top: 5px;
  padding-bottom: 5px;
  /* transform: translate(-12px); */
}

div.estado label {
  text-align: center;

  /* transform: translate(-12px); */
}

:host >>> .tooltip-inner {
  background-color: #000;
  color: #fff;
  font-size: 9px;
  position: relative;
  left: 60px;
}

:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

i.vacio {
  color: transparent;
}

div.input-tracking{
  display: flex;
  width: fit-content;
  align-items: center;
}

div.input-tracking *{
  display: inline-flex;

}

div.input-tracking label {
  width: fit-content;
}

div.input-tracking input {
  width: 45%;
  margin-left: 10px;
}

div.input-tracking button{
  margin-left: 10px;
  width: fit-content !important;
}

div.leyendaframe {
  margin-top: 20px;
  
}

div.leyendaframe div {
  display: flex;
}

div.leyendaframe div * {
  display: inline-flex;
}

div.leyendaContrans {
  height: 15px;
  width: 15px;
  border: 0.5px solid black;
  background-color: rgb(0, 38, 255);
  margin-right: 5px;
}

div.leyendaTM {
  height: 15px;
  width: 15px;
  border: 0.5px solid black;
  background-color: rgb(0, 217, 255);
  margin-right: 5px;
}

