<div class="wrapper wrapper-content">
  <br>
  <br>
  <div id="autoscroll">
    <div id="Timeline">
      <div id="ContransPart" *ngFor="let item of ContransList;">
        <div class="Container">
          <div class="carrito" [tooltip]="item.msjcont">
            <i [ngClass]="item.iconCarrito"></i><label>{{item.numbertrucks}}</label>
          </div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle-o"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">
            <i [ngClass]="item.iconStage"></i>
            <label>{{item.nombreStage}}</label>
          </div>
        </div>
      </div>
      <div id="IntegralPart" *ngFor="let item of TMList">
        <div class="Container">
          <div class="carrito" [tooltip]="item.msjcont">
            <i [ngClass]="item.iconCarrito"></i><label>{{item.numbertrucks}}</label>
          </div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle"></i></div>
            <div class="LineaContainer"></div>
          </div>
          <div class="estado">
            <i [ngClass]="item.iconStage"></i>
            <label>{{item.nombreStage}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
