<div class="wrapper wrapper-content">
  <br>
  <br>
  <div id="autoscroll">
    <div id="Timeline">
      <div id="ContransPart">
        <div class="Container" id="Stage1">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage2">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage3">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage4">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage5">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage6">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage7">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
      </div>
      <div id="IntegralPart" *ngIf="TieneIntegral">
        <div class="Container" id="Stage1">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage2">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage3">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage4">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
        <div class="Container" id="Stage5">
          <div class="carrito"></div>
          <div class="medio">
            <div class="iconostage"><i class="fa fa-circle" style="zoom: 200%;"></i></div>
          </div>
          <div class="estado"></div>
        </div>
      </div>
    </div>
  </div>
</div>
