<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-container" src="assets/images/LogoContrans.png">
          <br/><br/>
          <img alt="image" class="img-circle" src="assets/images/Persona.png">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">{{this.usuarionombre}}</strong> </span>
            <span class="block m-t-xs">{{this.entinombre}} </span>
            <span class="text-muted text-xs block">{{this.rolactual}} <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" >
            <li *ngFor="let item of this.listarol" (click)="CambioRol(item)"><a>{{item.RolDesc}}</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-th-large"></i> <span class="nav-label">Menu principal</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard examples</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li [ngClass]="{active: activeRoute('dashboard1')}"><a [routerLink]="['/dashboards/dashboard1']">Dashboard v.1</a></li>
          <li [ngClass]="{active: activeRoute('dashboard2')}"><a [routerLink]="['/dashboards/dashboard2']">Dashboard v.2</a></li>
          <li [ngClass]="{active: activeRoute('dashboard3')}"><a [routerLink]="['/dashboards/dashboard3']">Dashboard v.3</a></li>
          <li [ngClass]="{active: activeRoute('dashboard4')}"><a [routerLink]="['/dashboards/dashboard4']">Dashboard v.4</a></li>
          <li [ngClass]="{active: activeRoute('dashboard5')}"><a [routerLink]="['/dashboards/dashboard5']">Dashboard v.5</a></li>
          <li [ngClass]="{active: activeRoute('repstock')}"><a [routerLink]="['/dashboards/repstock']">Repstock</a></li>
          <li [ngClass]="{active: activeRoute('consultafactura')}"><a [routerLink]="['/dashboards/consultafactura']">Consulta Facturas</a></li>
          <li [ngClass]="{active: activeRoute('repfillrate')}"><a [routerLink]="['/dashboards/repfillrate']">RepFillRate</a></li>
          <li [ngClass]="{active: activeRoute('suscripcion')}"><a [routerLink]="['/dashboards/suscripcion']">Suscripcion</a></li>
          <li [ngClass]="{active: activeRoute('actualizarDatosUsuario')}"><a [routerLink]="['/forms/ActDatosUsuario']">Actualizar Datos Usuario</a></li>
       
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/login']"><i class="fa fa-th-large"></i> <span class="nav-label">Iniciar Sesion</span></a>
      </li>
    </ul>

  </div>
</nav>
