<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-container" src="assets/images/LogoContrans.png">
          <a dropdownToggle>
            <div class="rounded" style="background-color: darkgrey;border-radius: 100%;text-align: -webkit-center;height: 50px;width: 50px;border: 2px solid #353535;vertical-align: -webkit-baseline-middle;margin-top: 14px;">
              <h1 class="rounded-circle" style="height: auto;display: inline-block; margin: 0px;margin-top: 10px;font-weight: normal;color: #ffffff; font-size: x-large;">{{this.NombreIniciales}}</h1>
            </div>
            <span class="block m-t-xs"> <strong class="font-bold">{{this.usuarionombre}}</strong> </span>
            <span class="block m-t-xs">{{this.entinombre}} </span>
            <span class="text-muted text-xs block">{{this.rolactual}} <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" >
            <li *ngFor="let item of this.listarol" (click)="CambioRol(item)"><a>{{item.RolDesc}}</a></li>
          </ul>
        </div>
        <div class="logo-element">
         <img class="img-circle" style="height: 48px; width: 48 px;" src="assets/images/RosaNautica2.png">
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-th-large"></i> <span class="nav-label">Menu principal</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li [ngClass]="{active: activeRoute('repstock')}"><a (click)="SetStarter()" [routerLink]="['/dashboards/repstock']">Reporte Stock</a></li>
          <li [ngClass]="{active: activeRoute('repfillrate')}"><a [routerLink]="['/dashboards/repfillrate']">Reporte FillRate</a></li>
          <li [ngClass]="{active: activeRoute('consultafactura')}"><a [routerLink]="['/dashboards/consultafactura']">Consulta Facturas</a></li>
          <li [ngClass]="{active: activeRoute('repstockcsu')}"><a [routerLink]="['/dashboards/repstockcsu']">Reporte Stock CSU</a></li>
          <li [ngClass]="{active: activeRoute('consultacontdl')}"><a [routerLink]="['/dashboards/consultacontdl']">Reporte Dias Libres</a></li>         
          <li [ngClass]="{active: activeRoute('tracking')}"><a [routerLink]="['/dashboards/tracking']">Tracking de Contenedores</a></li>
          <li [ngClass]="{active: activeRoute('consultadireccionamiento')}"><a [routerLink]="['/dashboards/consultadireccionamiento']">Consulta de Direccionamiento</a></li>

        </ul>
      </li>
    </ul>

  </div>
</nav>
