<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        <p>Login in. To see it in action.</p>
        <div class="alert alert-danger" role="alert" *ngIf="isError">Usuario y/o password erróneo</div>
        <form class="m-t" role="form" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
            <div class="form-group">
                <input type="text" id="email" name="email" class="form-control" (keypress)="omit_special_char($event)" placeholder="Usuario" [(ngModel)]="user.Usuario" required >
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.Password" required>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>
            <div class="form-group">
              <a routerLink="/user/register">¿Olvidó su contraseña?</a>
            </div>
            <div class="form-group">
                Registrarse en la Extranet <a routerLink="/user/register"> Click aquí</a>
            </div>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
