<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
        <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
        <h4 class="modal-title pull-left" style="display: inline-table;">Detalle Contenedor: {{Contnumero}}</h4>
        <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close" (click)="cerrarPopup()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="ibox float-e-margins">

        <div class="ibox-content cuerpo-con-overflow">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group" tooltip="Solo se puede consultar los ultimos 6 meses" placement="top">
                  <input type="text" name="txtbox_Desde" placeholder="Desde" class="form-control" autocomplete="off" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es', containerClass : 'theme-blue' }"[ngModel]="fechaActual" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group" tooltip="Solo se puede consultar los ultimos 6 meses" placement="top">
                  <input type="text" name="txtbox_Hasta" placeholder="Hasta" class="form-control" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}"[ngModel]="fechaActual" autocomplete="off" required>
                </div>
              </div>
              <div class="col-sm-3"><button type="button" (click)="CargarGrilla(formFact)"
                class="btn btn-w-m btn-primary" >Buscar</button></div>

            <div class="col-sm-3"><button type="reset" (click)="SiTieneData(false)"
                class="btn btn-w-m btn-default">Limpiar</button></div>
            </div>
          </form>

          <div class="row">
            <div id="grilla1"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptionsCabecera"
                [dtTrigger]="dtTriggerCabecera" > 
                <thead>
                  <tr>
                    <th>SP</th>
                    <th>RH%</th>
                    <th>VENT.</th>
                    <th>%O2</th>
                    <th>%CO2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objTemperaturaVDRPT">
                    <td>{{item.SP}}</td>
                    <td>{{item.RH}}</td> 
                    <td>{{item.VENT}}</td>
                    <td>{{item.O2}}</td>
                    <td>{{item.CO2}}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div id="grilla2"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" > 
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Rango</th>
                    <th>T°. SUPP.</th>
                    <th>T°. RET.</th>
                    <th>RH%</th>
                    <th>%O2</th>
                    <th>%CO2</th>
                    <th>USDA1</th>
                    <th>USDA2</th>
                    <th>USDA3</th>
                    <th>ALARMA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objTemperaturaDataRPT">
                    <td>{{item.Dia}}</td>
                    <td>{{item.HoraControlTemp}}</td>
                    <td>{{item.TSUPP}}</td>
                    <td>{{item.TRET}}</td> 
                    <td>{{item.RH}}</td>
                    <td>{{item.O2}}</td>
                    <td>{{item.CO2}}</td>
                    <td>{{item.USDA1}}</td>
                    <td>{{item.USDA2}}</td>
                    <td>{{item.USDA3}}</td>
                    <td>{{item.ALARMA}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
