<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Consulta de Contenedores </h5>       
        </div>
        <div class="ibox-content">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">                
              <div class="col-sm-3">
               <div class="form-group" style="display: flex; align-items: center;">
                 <label style="margin-right: 15px;">Registro: </label>
                 <input type="text" maxlength="15" name="txtbox_Registro" placeholder="" class="form-control" [ngModel] required>
               </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group" style="display: flex; align-items: center;">
                  <label style="margin-right: 15px;">BL: </label>
                  <input type="text" maxlength="20" name="txtbox_BL" placeholder="" class="form-control" [ngModel] required >
                </div>
               </div>

               <div class="col-sm-3">
                <div class="form-group" style="display: flex; align-items: center;">
                  <label style="margin-right: 15px;">CTN: </label>
                  <input type="text" maxlength="15" name="txtbox_CTN" placeholder="" class="form-control" [ngModel] required >
                </div>
               </div>
                          
                            
            </div>
            <div class="row">
              <!-- <div class="col-sm-4"><button type="submit" class="btn btn-w-m btn-primary" >Ingresar</button></div> -->
              <div class="col-sm-4"><button type="button" (click)="CargarGrilla(formFact)"
                  class="btn btn-w-m btn-primary" >Consultar</button></div>

              <div class="col-sm-4"><button type="reset" (click)="SiTieneData(false)"
                  class="btn btn-w-m btn-default">Limpiar</button></div>
            </div>
          </form>
          <div class="row">
            <div id="grilla" class="table-responsive">            
               <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
               [dtTrigger]="dtTrigger" >
                <thead>
                  <tr>                    
                    <th>Registro</th>
                    <th>BL</th>
                    <th>Empaque</th>
                    <th>Contenedor</th>
                    <th>Capacidad</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Reporte</th>
                    <th>Dias Almacenaje</th>
                    <th>Dias Libres</th>
                    <th>Fecha Vencimiento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objrepdlRPT">
                     <td>{{item.Registro}}</td>
                    <td>{{item.Bl}}</td>
                    <td>{{item.Empaque}}</td>
                    <td>{{item.Contenedor}}</td>
                    <td>{{item.Capacidad}}</td>
                    <td>{{item.FInicio}}</td>
                    <td>{{item.FTermino}}</td>
                    <td>{{item.DiasAlmacenaje}}</td>
                    <td>{{item.DiasLibres}}</td>
                    <td>{{item.FechaVencimiento}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

