

::ng-deep .bs-datepicker-container {
  background-color: white !important;
  /*z-index: 9999; */
  position: relative;
  left: +0%;
}

::ng-deep .bs-datepicker {
    /* background-color: black !important; */
   z-index: 9999;
   position: relative;
   left: +25%;
 }
 

 @media (max-width: 800px) {

 ::ng-deep .bs-datepicker {
     /* background-color: black !important; */
    z-index: 9999;
    position: relative;
    left: +0%;
 }
 @media screen and (max-width:640px) { 
  .tamanio-device {
      width: 290px;
  }
} 

}