
div.dprin {
  width: 100%;
}

div.dcomp {
  display: inline-flex;
  width: 49%;
  height: fit-content;
  margin: 2px;
}

div.dcomp * {
  width: 100%;
}

@media (max-width: 1000px) {
  div.dprin {
    display: block;
  }

  div.dcomp {
    float: none;
    width: 100%;
  }
}


.graficoglobal {
  width: 400px;
}

span.configtext {
  font-size: 0.8em !important;

}

