<div class="dprin">
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repstockcli </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repstockcli class="graficoglobal"></app-repstockcli>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repestadia </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repestadia class="graficoglobal"></app-repestadia>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repabandono </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repabandono class="graficoglobal"></app-repabandono>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repfillrate </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repfillrate class="graficoglobal"></app-repfillrate>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repstock-da </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repstock-da class="graficoglobal"></app-repstock-da>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repstock-ds </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repstock-ds class="graficoglobal"></app-repstock-ds>
      </div>
    </div>
  </div>
  <div class="dcomp" ngDraggable [gridSize]="20">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>repstock-dt </h5>
        <iboxtools></iboxtools>
      </div>
      <div class="ibox-content">
        <app-repstock-dt class="graficoglobal"></app-repstock-dt>
      </div>
    </div>
  </div>
</div>
<!-- <div class="dprin">
  <div class="dcomp">
    <div style="height: 100px; width: 600px; border: 0.5px solid black; background-color: rgb(0, 217, 255);" ngDraggable
      [gridSize]="20" [preventDefaultEvent]="true">HOLI 1</div>
  </div>
  <div class="dcomp">
    <div style="height: 100px; width: 300px; border: 0.5px solid black; background-color: rgb(0, 217, 255);" ngDraggable
      [gridSize]="20" [preventDefaultEvent]="true">HOLI 2</div>
  </div>
  <div class="dcomp">
    <div style="height: 100px; width: 150px; border: 0.5px solid black; background-color: rgb(0, 217, 255);" ngDraggable
      [gridSize]="20" [preventDefaultEvent]="true">HOLI 3</div>
  </div>
  <div class="dcomp">
    <div style="height: 100px; width: 150px; border: 0.5px solid black; background-color: rgb(0, 217, 255);" ngDraggable
      [gridSize]="20" [preventDefaultEvent]="true">HOLI 4</div>
  </div>
  <div class="dcomp">
    <div style="height: 100px; width: 150px; border: 0.5px solid black; background-color: rgb(0, 217, 255);" ngDraggable
      [gridSize]="20" [preventDefaultEvent]="true">HOLI 5</div>
  </div>
</div> -->
