.loading {
  margin: 75px;
}

@media screen and (min-width:1024px) {
    .cuerpo-con-overflow {
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
      border: none;
      padding-top: 0px;
      overflow-y: scroll;
      overflow-x: scroll;
      height: 510px;
      margin: '0 auto';
    }
  }
  
  @media screen and (max-width:1024px) and (min-width:640px) {
  .cuerpo-con-overflow {
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    border: none;
    padding-top: 0px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 630px;
    margin: '0 auto';
  }
  } 
  
   @media screen and (max-width:640px) { 
    .cuerpo-con-overflow {
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
      border: none;
      padding-top: 0px;
      overflow-y: scroll;
      overflow-x: scroll;
      height: 490px;
      margin: '0 auto';
    }
  } 
