<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;">Detalle Reporte {{this.TituloReporte}}</h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="Cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="ibox-content cuerpo-con-overflow">
    <div class="form-group row">
      <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Nave</th>
          <th>Linea</th>
          <th>Cliente</th>
          <th>Documento</th>
          <th>Volante</th>
          <th>Contenedor</th>
          <th>Fecha Ingreso</th>
          <th>Agencia</th>
          <th>Consolidador</th>
          <th>Almacen</th>
          <th>Tipo</th>
          <th>Tamaño</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.objDetStockCliRPT">
          <td>{{item.Nave}}</td>
          <td>{{item.Linea}}</td>
          <td>{{item.Cliente}}</td>
          <td>{{item.Documento}}</td>
          <td>{{item.Volante}}</td>
          <td>{{item.Contenedor}}</td>
          <td>{{item.FechaIngreso}}</td>
          <td>{{item.Agencia}}</td>
          <td>{{item.Consolidador}}</td>
          <td>{{item.Almacen}}</td>
          <td>{{item.Tipo}}</td>
          <td>{{item.Tamano}}</td>
        </tr>
      </tbody>

    </table>
     </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <button type="button" (click)="Cerrar()" class="btn btn-w-m btn-primary">Cerrar</button>
    </div>
  </div>
</div>