<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;">Detalle Reporte {{this.TituloReporte}}</h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="Cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="ibox-content cuerpo-con-overflow">
    <div class="form-group row">
      <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nave</th>
            <th>Linea</th>
            <th>Cliente</th>
            <th>Volante</th>
            <th>BlMaster</th>
            <th>BL</th>
            <th>Contenedor</th>
            <th>Tamaño</th>
            <th>Fecha Ingreso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.objDetStockCliRPT">
            <td>{{item.Nave}}</td>
            <td>{{item.NomLinea}}</td>
            <td>{{item.NomCliente}}</td>
            <td>{{item.Volante}}</td>
            <td>{{item.BlMaster}}</td>
            <td>{{item.Bl}}</td>
            <td>{{item.Contenedor}}</td>
            <td>{{item.Size}}</td>
            <td>{{item.FechaIngreso}}</td>

          </tr>
        </tbody>

      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <button type="button" (click)="Cerrar()" class="btn btn-w-m btn-primary">Cerrar</button>
    </div>
  </div>
</div>