<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;">Generación liquidación</h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="cerrarPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="m-t" role="form" #formUsuario="ngForm" >
    <div class="ibox-content cuerpo-con-overflow">
<!--       <div class="form-group row">
        <label class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 0px;padding-top: 7px;">
          N° Booking :</label>
        <div class="col-xs-12 col-sm-4 col-lg-4" style="padding-left: 5px;">
          <input type="text" name="txtbox_NBooking" class="form-control tamanio-device" [ngModel]>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 5px;padding-bottom: 10px;">
          <select name="listModalidad" class="form-control" style=" padding-left: 5px;padding-right: 5px;"
            (change)="ChangingValue($event,'Modalidad')">
            <option [value]="" selected hidden>--Modalidad--</option>
            <option *ngFor="let item of this.ListaModalidad" [value]="item.EmpaCodigo">{{item.EmpaIdentificador}}
            </option>
          </select>
        </div>
        <div class="col-xs-5 col-sm-2 col-lg-2" style="padding: 1px 5px 2px;width: auto;"><button type="button"
            (click)="BuscarBooking(formUsuario)" class="btn btn-primary block m-b tamanio-device">Buscar</button></div>
      </div> -->
      <div>
        <!-- ------------PARTE 1------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Datos Clientes</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('CONTENEDORES')"></b>
          </div>
          <div id="CONTENEDORES" class="form-group row" >
            <div class="row">
              <div style="width: 97%;overflow-y: hidden;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsCliente"
                  [dtTrigger]="dtTriggerCliente" > 
                  <thead>
                    <tr>
                      <th>Documento</th>
                      <th>Cliente</th>
                      <th>Linea naviera</th>
                      <th>Nave/Viaje</th>
                      <th>Notificador</th>
                      <th>Terminal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.objListLiquiCliente">
                      <td>{{item.Documento}}</td> 
                      <td>{{item.Cliente}}</td>  
                      <td>{{item.LineaNaviera}}</td> 
                      <td>{{item.NaveViaje}}</td> 
                      <td>{{item.Notificador}}</td> 
                      <td>{{item.Terminal}}</td> 
                      <!-- <td>{{item.PctoAduana}}</td> -->
                   </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>{{this.CantidadBultos}}</th>
                        <th>{{this.CantidadPeso}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                </table>
              </div>
            </div>



          </div>
        </div>
        <!-- ------------PARTE 2------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Datos Principales</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('DAM')"></b>
          </div>
          <div id="DAM">
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Liquidación N°:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
 <!--                <input type="text" [(ngModel)]="Exportador" maxlength="50" name="txtbox_Exportador"
                  class="form-control"> -->

<!--                   <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Exportador" matInput [formControl]="ControlEntidades"
                      [matAutocomplete]="Exportador">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Entidad')" #Exportador="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredEntidad | async" [value]="enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->

              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-12 col-sm-4 col-lg-4 label_device">Unidad de negocio:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" disabled = "true" [(ngModel)]="UniNegocio" maxlength="50" name="txtbox_UniNegocio" 
                class="form-control">
<!--                 <input type="text" [(ngModel)]="Despachador" maxlength="50" name="txtbox_Despachador"
                  class="form-control"> -->
<!--                   <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Despachador" matInput [formControl]="ControlDespachador"
                      [matAutocomplete]="Despachador">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Despachador')" #Despachador="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredDespachador | async" [value]="enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">{{this.TipoConsultaD}}</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" disabled = "true" [(ngModel)]="MBL" maxlength="50" name="txtbox_MBL" 
                class="form-control">
<!--                 <input type="text" [(ngModel)]="AgenciaDeAduana" maxlength="50" name="txtbox_AgenciaDeAduana"
                  class="form-control"> -->
<!--                   <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Agencia Aduana" matInput [formControl]="ControlAgenciaAduana"
                      [matAutocomplete]="AgenciaAduana">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'AgenciaAduana')" #AgenciaAduana="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredAgenciaAduana | async" [value]="enti.Entidad + ',' + enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device"><br/>Agencia de aduana:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                
                <mat-form-field>
                  <input type="text" placeholder="Digite la Agencia" matInput [formControl]="myAgencia"
                    [matAutocomplete]="autoAg">
                  <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValueE($event)" #autoAg="matAutocomplete">
                    <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.Entidad + ',' + emp.Nombre">
                      {{emp.Nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                

              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device"><br/>Facturar a:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
           
                <mat-form-field>
                  <input type="text" placeholder="Digite la Empresa" matInput [formControl]="myEmpresa"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValueF($event)" #auto="matAutocomplete">
                    <mat-option *ngFor="let emp of filteredEmpresa | async" [value]="emp.Entidad + ',' + emp.Nombre">
                      {{emp.Nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
            </div>

            <!--Row con Botones-->

            <div class="form-group row">
              <div class="col-sm-4"><button (click) = "VisualizarLiq()" class="btn btn-w-m btn-primary">Visualizar Liquidación</button></div>
                   
              <div class="col-sm-4"><button (click) = "GenerarLiq()" id="btnGen" disabled = "true"  class="btn btn-w-m btn-default">Generar Liquidación</button></div>                    
                
              <div class="col-sm-3"><button (click) = "Limpiar()" class="btn btn-w-m btn-default">Limpiar</button></div>                    
            
            
            </div>


          </div>
        </div>
        <!-- ------------PARTE 3------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Contenedores</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('CONTENEDORES')"></b>
          </div>
          <div id="CONTENEDORES" class="form-group row" >
            <div class="row">
              <div style="width: 97%;overflow-y: hidden;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger" > 
                  <thead>
                    <tr>
                      <th>Contenedor</th>
                      <th>Capacidad</th>
                      <th>Tipo</th>
                      <th>Programado</th>
                      <th>Disponible</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.objListLiquiCont">
                      <td>{{item.ContNumero}}</td> 
                      <td>{{item.ContCapaIdentificador}}</td> 
                      <td>{{item.ContTipoIdentificador}}</td> 
                      <td>{{item.CantProgramado}}</td> 
                      <td>{{item.CantDisponible}}</td> 
                      
                      <!-- <td><input type="number" (change)="Recalcular()" name="txtbox_Bulto_{{item.Contenedor}}"  id = "txtBulto_{{item.Contenedor}}"  placeholder="Bultos"  class="form-control  tamanio-device"  [(ngModel)]="item.Bultos" /></td>-->
                      <!-- <td >{{item.Bultos}}</td> -->
                      <!--<td><input type="text" name="txtbox_PctoAduana_{{item.Contenedor}}"  id = "txtPctoAduana_{{item.Contenedor}}"  placeholder="Pcto Aduana"  class="form-control  tamanio-device"  [(ngModel)]="item.PctoAduana" /></td>-->
                      <!-- <td>{{item.PctoAduana}}</td> -->
                   </tr>
                  </tbody>
                
                </table>
              </div>
            </div>



          </div>
        </div>
          <!-- ------------PARTE 4------------ -->
        <div *ngIf = "MuestraPAP" >
            <div class="form-group row titulo_boton">
              <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Persona Autorizada para el recojo del Precinto</h4>
              <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
              <b class="caret boton_mostrar" (click)="muestra_oculta('PAP')"></b>
            </div>
            <div id="PAP">            
              <div class="form-group row">
                <label class="col-xs-12 col-sm-4 col-lg-4 label_device">Nombre Completo:</label>
                <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                  <input type="text"  [(ngModel)]="NombreCompleto" maxlength="50" name="txtbox_NombreCompleto" 
                  class="form-control">
  <!--                 <input type="text" [(ngModel)]="Despachador" maxlength="50" name="txtbox_Despachador"
                    class="form-control"> -->
  <!--                   <mat-form-field style="width: 100%;">
                      <input type="text" placeholder="Digite Despachador" matInput [formControl]="ControlDespachador"
                        [matAutocomplete]="Despachador">
                      <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Despachador')" #Despachador="matAutocomplete">
                        <mat-option *ngFor="let enti of filteredDespachador | async" [value]="enti.Nombre">
                          {{enti.Nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field> -->
                </div>
              </div>
              <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Tipo Doc. DNI/Carnet Extr.</label>
                <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                  <input type="text"  [(ngModel)]="TipoDoc" maxlength="50" name="txtbox_TipoDoc" 
                  class="form-control">
  <!--                 <input type="text" [(ngModel)]="AgenciaDeAduana" maxlength="50" name="txtbox_AgenciaDeAduana"
                    class="form-control"> -->
  <!--                   <mat-form-field style="width: 100%;">
                      <input type="text" placeholder="Digite Agencia Aduana" matInput [formControl]="ControlAgenciaAduana"
                        [matAutocomplete]="AgenciaAduana">
                      <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'AgenciaAduana')" #AgenciaAduana="matAutocomplete">
                        <mat-option *ngFor="let enti of filteredAgenciaAduana | async" [value]="enti.Entidad + ',' + enti.Nombre">
                          {{enti.Nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field> -->
                </div>
              </div>
              <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Empresa a la que pertenece:</label>
                <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                  <input type="text"  [(ngModel)]="Empresa" maxlength="50" name="txtbox_Empresa" 
                  class="form-control">
  <!--                 <input type="text" [(ngModel)]="AgenciaDeAduana" maxlength="50" name="txtbox_AgenciaDeAduana"
                    class="form-control"> -->
  <!--                   <mat-form-field style="width: 100%;">
                      <input type="text" placeholder="Digite Agencia Aduana" matInput [formControl]="ControlAgenciaAduana"
                        [matAutocomplete]="AgenciaAduana">
                      <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'AgenciaAduana')" #AgenciaAduana="matAutocomplete">
                        <mat-option *ngFor="let enti of filteredAgenciaAduana | async" [value]="enti.Entidad + ',' + enti.Nombre">
                          {{enti.Nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field> -->
                </div>
              </div>
            
           
            </div>
        </div>


      </div>
    </div>
  </form>



  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <!-- <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 1px 5px 2px;width: auto;"> -->
      <button (click)="AgregarRefrendo(formUsuario)" type="submit" class="btn btn-w-m btn-primary">Grabar</button>
      <button (click)="cerrarPopup()" class="btn btn-w-m btn-default" style="margin-left: 15px;">Cancelar</button></div>
  </div>
</div>