<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Relación Transportista Cliente</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">
              <div class="col-sm-4" style="padding-left: 5px;">
                <div class="form-group">
                   <mat-form-field style="width: 350px;">
                    <input type="text" placeholder="Cliente" matInput [formControl]="myCliente"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValueF($event)" #auto="matAutocomplete">
                      <mat-option *ngFor="let emp of filteredEmpresa | async" [value]="emp.Entidad + ',' + emp.Nombre">
                        {{emp.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>


              </div>
              <div class="col-sm-4" style="padding-left: 5px;">
                <div class="form-group">
    
                  <mat-form-field style="width: 350px;">
                    <input type="text" placeholder="Transportista" matInput [formControl]="myTrans"
                      [matAutocomplete]="autoAg">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValueE($event)" #autoAg="matAutocomplete">
                      <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.Codigo + ',' + emp.Descripcion">
                        {{emp.Descripcion}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
               
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_NroDocumento" [(ngModel)]="Documento" placeholder="BL/Booking" class="form-control" [ngModel] required /> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="reset" (click)="Limpiar()"
              class="btn btn-default block  m-b tamanio-device">Limpiar</button></div>

              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="button" (click)="CargarGrilla(formFact)"
                class="btn btn-primary block m-b tamanio-device"  >Buscar</button></div>

                <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                  <button type="button" (click)="AgregarCliTrans()"
                  class="btn btn-primary block m-b tamanio-device">Nuevo</button>
                </div>
            </div>
          </form>
          <div class="row">
            <div class="loading" *ngIf = "loading" style="text-align:center;height: 420px ;margin-right: 0px;margin-left: 0px;" >
              <img src = "assets/images/loader.gif" style="width: 150px;height: 100px;">
           </div>
            <div id="grillatrans"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptionsTrans"
                [dtTrigger]="dtTriggerTrans" > 
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Transportista</th>
                    <th>BL/Booking</th>
                  
                   <!--  <th colspan="4" style="width: 10%;">Accion</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objClienteTransL">
                    <td>{{item.Cliente}}</td>
                    <td>{{item.Transportista}}</td> 
                    <td>{{item.Documento}}</td>                
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
