<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Autorización de Entregra de Precintos</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">
              <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                <select name="listEstado" [formControl]="myUnidad"  class="form-control" (change)="ChangingValue($event,'UniNegocio')">              
                  <option [value]="" selected hidden>--Unidad Negocio--</option>
                  <option *ngFor="let item of this.ListaUniNegocio" [value]="item.Codigo">{{item.Descripcion}}</option> 
                </select>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_NroDocumento" placeholder="Nro Documento" class="form-control" [ngModel] required /> 
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_Persona" placeholder="Nombre del Personal" class="form-control" [ngModel] required /> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="reset" (click)="SiTieneData(false)"
              class="btn btn-default block  m-b tamanio-device">Limpiar</button></div>

              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="button" (click)="CargarGrilla(formFact)"
                class="btn btn-primary block m-b tamanio-device"  >Buscar</button></div>

<!--                 <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                  <button type="button" (click)="popupNuevaRefrendoExpo()"
                  class="btn btn-primary block m-b tamanio-device"  >Nuevo</button>
                </div> -->
            </div>
          </form>
          <div class="row">
            <div class="loading" *ngIf = "loading" style="text-align:center;height: 420px ;margin-right: 0px;margin-left: 0px;" >
              <img src = "assets/images/loader.gif" style="width: 150px;height: 100px;">
           </div>
            <div id="grilla"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" > 
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Booking</th>
                    <th>Nombre del Personal</th>
                    <th>Nro de Documento</th>
                    <th>Empresa</th>
                    <th>Actualiza</th>                    
                   <!--  <th colspan="4" style="width: 10%;">Accion</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objListaAutEntregaPrec">
                    <td>{{item.LiquCodigo}}</td>
                    <td>{{item.RegiCodigo}}</td>
                    <td>{{item.NombreCompleto}}</td> 
                    <td>{{item.DNI}}</td>
                    <td>{{item.EmpresaPertenece}}</td>
                    <td><a (click)="ActualizarPrecinto(item.LiquCodigo, item.RegiCodigo, item.NombreCompleto,item.DNI,item.EmpresaPertenece)"><img style="width: 16px;" src="assets/images/refresh.png"></a></td>                                      
                  
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
