<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;"> {{this.TituloGeneral}} </h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="cerrarPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="m-t" role="form" #formUsuario="ngForm" >
    <div class="ibox-content cuerpo-con-overflow">
      <div>
        <!-- ------------PARTE 1------------ -->
        <div>
    
        <!-- ------------PARTE 2------------ -->
        <div class="loading"  style="text-align:center;height: 120px ;margin-right: 0px;margin-left: 0px;" >
          <img src = {{this.RutaImg}} >
       </div>

       <div>
        <div class="form-group row titulo_boton" *ngIf = "MuestraObser">
          <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Observaciones</h4>
          <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
          <b class="caret boton_mostrar" (click)="muestra_oculta('Obser')"></b>
        </div>
        <div id="Obser">

                     
          <div class="form-group row"  *ngIf = "MuestraObser" ><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Observaciones:</label>              
          </div>

          <div class="row">
            <div id="grillaobs" style="visibility: hidden; width: 97%;overflow-y: hidden; padding-left: 12px;">
             <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsO"
                [dtTrigger]="dtTriggerO" > 
                <thead>
                  <tr>
                    <th>Tipo de Observación</th>
                    <th>Observación</th>
                    <th>Fecha de Creación</th>                                           
                    <th>Descargar PDF</th>
                                 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objListObser">
                    <td>{{item.TipoObervacion}}</td> 
                    <td>{{item.Observacion}}</td>  
                    <td>{{item.RegistroCreado}}</td>                                            
                    <td style="text-align: center;"><a (click)="ImprimirSolPer(item.Codigo, item.CodHelp)"><img  style="width: 24px;" src="assets/images/IconPDF.png"></a></td>                                                                             
                               
                    <!-- <td>{{item.PctoAduana}}</td> -->
                 </tr>
                </tbody>                 
              </table>
            </div>
          </div>


       


        </div>
      </div>      

        <div>
          <div class="form-group row titulo_boton"  *ngIf = "MuestraLiqui">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">{{this.TituloLiq}}</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('DPL')"></b>
          </div>
          <div id="DPL">

            <div class="row" >
              <div id="grillaPer" style="visibility: hidden;  width: 97%;overflow-y: hidden; padding-left: 12px;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsPer"
                  [dtTrigger]="dtTriggerPer" > 
                  <thead>
                    <tr>
                      <th>Permiso</th>
                      <th>Registro</th>
                      <th>Documento</th>                      
                      <th>Fecha Creación</th>
                      <th>PDF</th>
                     
                  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.objListPermisos">
                      <td>{{item.Permiso}}</td> 
                      <td style="text-align: center;">{{item.Registo}}</td>  
                      <td style="text-align: center;">{{item.Documento}}</td>  
                      <td style="text-align: center;">{{item.FechaCreacion}}</td>                            
                    
                      <td style="text-align: center;"><a (click)="ImprimirPermiso(item.Permiso)"><img  style="width: 24px;" src="assets/images/IconPDF.png"></a></td>                                                                             
                                 
                      <!-- <td>{{item.PctoAduana}}</td> -->
                   </tr>
                  </tbody>                 
                </table>
              </div>
            </div>

         
        
            <div class="form-group row"  *ngIf = "MuestraLiqui" ><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Liquidaciones:</label>              
            </div>

            <div class="row">
              <div id="grillaBLiq" style="visibility: hidden; width: 97%;overflow-y: hidden; padding-left: 12px;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger" > 
                  <thead>
                    <tr>
                      <th>BL</th>
                      <th>Nro Liquidación</th>
                      <th>Moneda</th>                      
                      <th>Monto</th>
                      <th>Observación</th>
                      <th>Descargar PDF</th>
                     
                  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.objListLiqui">
                      <td>{{item.Bl}}</td> 
                      <td style="text-align: center;">{{item.Liquidacion}}</td>  
                      <td style="text-align: center;">{{item.Moneda}}</td>                        
                      <td>{{item.Monto | currency : " "}}</td> 
                      <td style="text-align: center;">{{item.Observacion}}</td> 
                      <td style="text-align: center;"><a (click)="ImprimirSolPer(item.SolicitudPermisoLiquidacionDeta, item.CodHelp)"><img  style="width: 24px;" src="assets/images/IconPDF.png"></a></td>                                                                             
                                 
                      <!-- <td>{{item.PctoAduana}}</td> -->
                   </tr>
                  </tbody>                 
                </table>
              </div>
            </div>

          <!--  <div class="form-group row"  *ngIf = "MuestraObser" ><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Observaciones:</label>              
            </div>

            <div class="row">
              <div id="grillaobs" style="visibility: hidden; width: 97%;overflow-y: hidden; padding-left: 12px;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsO"
                  [dtTrigger]="dtTriggerO" > 
                  <thead>
                    <tr>
                      <th>Tipo de Observación</th>
                      <th>Observación</th>
                      <th>Fecha de Creación</th>                                           
                      <th>Descargar PDF</th>
                                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.objListObser">
                      <td>{{item.TipoObervacion}}</td> 
                      <td>{{item.Observacion}}</td>  
                      <td>{{item.RegistroCreado}}</td>                                            
                      <td style="text-align: center;"><a (click)="ImprimirSolPer(item.Codigo, item.CodHelp)"><img  style="width: 24px;" src="assets/images/IconPDF.png"></a></td>                                                                             
                                 
                   </tr>
                  </tbody>                 
                </table>
              </div>
            </div>
               -->

     

           

          </div>
        </div>       
          <!-- ------------PARTE 4------------ -->
        <div >
            <div class="form-group row titulo_boton" *ngIf = "MuestraAdj">
              <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Adjunto de Pago</h4>
              <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
              <b class="caret boton_mostrar" (click)="muestra_oculta('AdjPago')"></b>
            </div>
            <div id="AdjPago">  
              <div class="row">
                <!--Aca va lo del Adjuntar Evidencia -->
                <label class="col-sm-4 col-form-label">Adjuntar Evidencia de Pago:</label>
                <div class="col-sm-4" style="padding-left: 5px;padding-bottom: 10px;">
                  <div class="form-group">
                    <input type="file" [accept]="[
                      '.jpg',
                      '.jpeg',
                      '.pdf',
                      '.png']" (change)="changeListener($event)">
                    <button (click)="AgregarArchivo(this.filename1)">Agregar Archivo</button>
                  </div>        
                </div>
               </div>

               <div class="row">
                 <div class="col-sm-8" style="padding-left: 5px;padding-bottom: 10px;">
                   <mat-selection-list #list>
                     <mat-list-option *ngFor="let item of this.fileitemsZ" (click)="onListControlChanged(list)"
                       [value]="item.name">
                       <label style="color:blue;"> Archivo: {{item.name}} Tamaño:
                         {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                       </label>
                     </mat-list-option>
                   </mat-selection-list>
                 </div>         
                 <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                   <button (click)="EliminarSelect()" class="btn btn-w-m btn-default">Eliminar</button>
                 </div>
               </div>

               <div class="row">
                <label class="col-xs-12 col-sm-4 col-lg-4 label_device">Observación del Pago:</label>
                <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">               
                  <textarea type="text" [(ngModel)]="ObservacionPago" name="txtarea_Obs" class="form-control" [ngModel]>
                  </textarea>
               </div>
              </div>

              
            
          
                       
            </div>
        </div>

  <!-- ------------PARTE 5------------ -->
  


        </div>


        </div>
      </div>
  </form>
  <div class="loadingGrabar" *ngIf = "loadingG" style="text-align:center;height: 220px ;margin-right: 0px;margin-left: 0px;" >
    <img src = "assets/images/loader.gif" style="width: 150px;height: 100px;">
 </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <!-- <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 1px 5px 2px;width: auto;"> -->
      <button (click)="GrabarPago()" *ngIf = "MuestraLiq" id="btnGen" class="btn btn-w-m btn-primary">Grabar</button>
      <button (click)="cerrarPopup()" class="btn btn-w-m btn-default" style="margin-left: 15px;">{{this.BotonDesc}}</button></div>
  </div>
</div>

