<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;">Crear Solicitud de Servicio</h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="cerrarPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="m-t" role="form" #formUsuario="ngForm">
    <div class="ibox-content cuerpo-con-overflow">
      <div class="form-group row">
        <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;;padding-top: 6px">
          <label for="rbt001" style="padding-right: 5px;">Volante (Importación)</label>
          <input type="radio" id="rbt002" name="rbtSeleccion" [(ngModel)]="Seleccion_Opcion" value="01"
            style="width: auto;vertical-align: text-bottom;">
          <label style="padding-right: 5px;padding-left: 10px;">Booking (Exportación)</label>
          <input type="radio" name="rbtSeleccion" [(ngModel)]="Seleccion_Opcion" value="02" style="width: auto;vertical-align: text-bottom;"
            checked="checked">
        </div>

        <!-- <label class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 0px;padding-top: 7px;">
          N° Booking :</label> -->
        <div class="col-xs-12 col-sm-4 col-lg-4" style="padding-left: 5px;">
          <input type="text" placeholder="N°" name="txtbox_NBooking" class="form-control tamanio-device" [ngModel]>
        </div>
        <!--         <div class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 5px;padding-bottom: 10px;">
          <select name="listModalidad" class="form-control" style=" padding-left: 5px;padding-right: 5px;"
            (change)="ChangingValue($event,'Modalidad')">
            <option [value]="" selected hidden>--Modalidad--</option>
            <option *ngFor="let item of this.ListaModalidad" [value]="item.EmpaCodigo">{{item.EmpaIdentificador}}
            </option>
          </select>
        </div> -->

        <div class="col-xs-5 col-sm-2 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
          <button type="button" (click)="BuscarServicio(formUsuario)"
            class="btn btn-primary block m-b tamanio-device">Buscar</button></div>
      </div>
      <div class="loading" *ngIf="loading" style="height: 500px;margin-right: 0px;margin-left: 0px;display: flex;justify-content: center;align-items: center;" >
        <img src = "assets/images/loader.gif" style="width: 150px;height: 100px;">
     </div>      
      <div>
        <!-- ------------PARTE 1------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Datos Generales</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('DatosGenerales')"></b>
          </div>
          <div id="DatosGenerales">
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">BL/Bkg :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="BLNumero" maxlength="50" name="txtbox_BLBkg"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Tiene DUA? :</label>
              <!--               <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" [(ngModel)]="Despachador" maxlength="50" name="txtbox_Despachador"
                  class="form-control">
              </div> -->
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <label for="rbt01" style="padding-right: 5px;">SI</label>
                <input type="radio" id="rbt02" name="rbtTieneDUA" value="D"
                  style="width: auto;vertical-align: text-bottom;" [(ngModel)]="CTieneDUA_Opcion"
                  (click)="CargarTarea('D')">
                <label style="padding-right: 5px;padding-left: 10px;">NO</label>
                <input type="radio" name="rbtTieneDUA" value="0" style="width: auto;vertical-align: text-bottom;"
                  checked="checked" [(ngModel)]="CTieneDUA_Opcion"
                  (click)="CargarTarea('0')">
              </div>


            </div>
            <div id="DUA" class="form-group row">
              <label class="col-xs-2 col-sm-2 col-lg-2 label_device">Año:</label>
              <div class="col-xs-2 col-sm2 col-lg-2" style="padding-left: 0px;padding-right: 4px;">
                <input type="number" maxlength="50" [(ngModel)]="Anio" name="txtbox_Anio" class="form-control">
              </div>
              <!-- </div> -->
              <!-- <div class="form-group row"> -->
              <label class="col-xs-2 col-sm-2 col-lg-2 label_device">DUA:</label>
              <div class="col-xs-2 col-sm-2 col-lg-2" style="padding-left: 0px;padding-right: 4px;">
                <input type="number" maxlength="50" [(ngModel)]="DUA" name="txtbox_DUA" class="form-control">
              </div>
              <!-- </div> -->
              <!-- <div class="form-group row"> -->
              <label class="col-xs-2 col-sm-2 col-lg-2 label_device">Regimen:</label>
              <div class="col-xs-2 col-sm-2 col-lg-2" style="padding-left: 0px;padding-right: 4px;">
                <input type="number" maxlength="50" [(ngModel)]="Regimen" name="txtbox_Regimen" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Tarea :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <select name="listUniNeg"  class="form-control  tamanio-device" (change)="ChangingValue($event)">
                  <option [value]="" selected hidden>--Seleccionar Tarea--</option>
                  <option *ngFor="let item of this.objListaTareaRPT" [value]="item.EmpaCodigo">{{item.EmpaIdentificador}}</option>
                </select>
                <!-- <input type="text" maxlength="50" [(ngModel)]="Tarea" name="txtbox_Tarea" class="form-control"> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Fecha :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" name="txtbox_Fecha" placeholder="Fecha" class="form-control  tamanio-device"
                  bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}"
                   autocomplete="off" [(ngModel)]="FechaDeNum" required>
                <!--                 <input type="text" [(ngModel)]="FechaDeNum" maxlength="50" name="txtbox_FechaDeNum"
                  class="form-control"> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Hora :</label>
              <table class="table table-hover no-margins">            
                <tbody>
                <tr>                             
      <td class="text-navy"><label id = "unaAM"><input type="radio" id="{{this.unaAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.unaAM}}</label></td>                                        
      <td class="text-navy"><label id = "sieteAM"><input type="radio" id="{{this.sieteAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.sieteAM}}</label></td>
      <td class="text-navy"><label id = "unaPM"><input type="radio" id="{{this.unaPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.unaPM}}</label></td>
      <td class="text-navy"><label id = "sietePM"><input type="radio" id="{{this.sietePM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.sietePM}}</label></td>                    
                </tr>
                <tr>                               
      <td class="text-navy"><label id = "dosAM"><input type="radio" id="{{this.dosAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.dosAM}}</label></td>
      <td class="text-navy"><label id = "ochoAM"><input type="radio" id="{{this.ochoAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.ochoAM}}</label></td>
      <td class="text-navy"><label id = "dosPM"><input type="radio" id="{{this.dosPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.dosPM}}</label></td>
      <td class="text-navy"><label id = "ochoPM"><input type="radio" id="{{this.ochoPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.ochoPM}}</label></td>                    
                </tr>
                <tr>                               
     <td class="text-navy"><label id = "tresAM" ><input type="radio" id="{{this.tresAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.tresAM}}</label></td>
     <td class="text-navy"><label id = "nueveAM"><input type="radio" id="{{this.nueveAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.nueveAM}}</label></td>
     <td class="text-navy"><label id = "tresPM"><input type="radio" id="{{this.tresPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.tresPM}}</label></td>
     <td class="text-navy"><label id = "nuevePM"><input type="radio" id="{{this.nuevePM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.nuevePM}}</label></td>

                    </tr>
                <tr>                  
    <td class="text-navy"><label id = "cuatroAM"><input type="radio" id="{{this.cuatroAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.cuatroAM}}</label></td>
    <td class="text-navy"><label id = "diezAM"><input type="radio" id="{{this.diezAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.diezAM}}</label></td>                    
    <td class="text-navy"><label id = "cuatroPM"><input type="radio" id="{{this.cuatroPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.cuatroPM}}</label></td>
    <td class="text-navy"><label id = "diezPM"><input type="radio" id="{{this.diezPM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.diezPM}}</label></td>
                </tr>                   
                <tr>                  
    <td class="text-navy"><label id = "cincoAM"><input type="radio" id="{{this.cincoAM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.cincoAM}}</label></td>
    <td class="text-navy"><label id = "onceAM"><input type="radio" id="{{this.onceAM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.onceAM}}</label></td>                    
    <td class="text-navy"><label id = "cincoPM"><input type="radio" id="{{this.cincoPM}}" name="optradio"(change)="onItemChangeHora($event)">{{this.cincoPM}}</label></td>
    <td class="text-navy"><label id = "oncePM"><input type="radio" id="{{this.oncePM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.oncePM}}</label></td>
              </tr>   
              <tr>                  
    <td class="text-navy"><label id = "seisAM" ><input type="radio" id="{{this.seisAM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.seisAM}}</label></td>
    <td class="text-navy"><label id = "doceAM" ><input type="radio" id="{{this.doceAM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.doceAM}}</label></td>                    
    <td class="text-navy"><label id = "seisPM" ><input type="radio" id="{{this.seisPM}}" name="optradio" (change)="onItemChangeHora($event)">{{this.seisPM}}</label></td>
    <td class="text-navy"><label id = "docePM" ><input type="radio" id="{{this.docePM}}" name="optradio" (change)="onItemChangeHora($event)" >{{this.docePM}}</label></td>
            </tr>                                                                                        
                </tbody>
            </table>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Estado :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" maxlength="50" name="txtbox_Estado" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Info :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" maxlength="50" name="txtbox_Info" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Cliente :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Cliente" maxlength="50" name="txtbox_Cliente"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Carga :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Carga" maxlength="50" name="txtbox_Carga"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Despachador :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Despachador" maxlength="50" name="txtbox_Despachador" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Manifiesto/Nave
                :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Nave" maxlength="50" name="txtbox_Manifiesto"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Condición :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Condicion" maxlength="50" name="txtbox_Condicion"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Agencia :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="AgenciaDeAduana" maxlength="50" name="txtbox_Agencia" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Observación :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <textarea type="text" maxlength="50" [(ngModel)]="Observacion" name="txtbox_Observacion" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- ------------PARTE 2------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Datos Contacto</h4>
            <b class="caret boton_mostrar" (click)="muestra_oculta('DatosContacto')"></b>
          </div>
          <div id="DatosContacto">
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Nombre :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" maxlength="50" [(ngModel)]="Nombre" name="txtbox_Nombre" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Apellidos :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" maxlength="50" [(ngModel)]="Apellidos" name="txtbox_Apellidos" class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">N° Celular :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="number" maxlength="50" [(ngModel)]="NCelular" name="txtbox_Nextel" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <!-- ------------PARTE 3------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Servicios</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('Servicios')"></b>
          </div>
          <div id="Servicios" class="form-group row" >
            <div class="row">
              <div style="width: 97%;overflow-y: hidden;">
               <table id="1" datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsServicios"
                  [dtTrigger]="dtTriggerServicios" > 
                  <thead>
                    <tr>
                      <th>Concepto</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.ServiciosUnicos">
                      <td>{{item.SERVDESCRIPCION}}</td> 
                      <td><input type="checkbox" name="{{item.SERVDESCRIPCION}}"  value="{{item.Seleccion}}"  [(ngModel)]="item.Seleccion" ></td>
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>



          </div>
        </div>

        <!-- ------------PARTE 4------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Contenedores</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('Contenedores')"></b>
          </div>
          <div id="Contenedores" class="form-group row" >
            <div class="row">
              <div style="width: 97%;overflow-y: hidden;">
               <table  id="2" datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsContenedores"
                  [dtTrigger]="dtTriggerContenedores" > 
                  <thead>
                    <tr>
                      <th>Contenedor</th>
                      <th>Tipo de Empaque</th>
                      <th>Bultos</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.Contenedores">
                      <td>{{item.CONTNUMERO}}</td> 
                      <td>{{item.Empaque}}</td> 
                      <td>{{item.BULTOS}}</td>
                      <td><input type="checkbox" name="{{item.CONTNUMERO}}"  value="{{item.Seleccion}}"  [(ngModel)]="item.Seleccion" ></td>
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row " style="text-align: center;">
            <button (click)="AgregarServicioContenedor()" class="btn btn-w-m btn-primary">Agregar</button>
          </div>
          </div>
          
        </div>

        <!-- ------------PARTE 5------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">Servicios Asignados a Contendores</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('ServiciosAsignadosaContendores')"></b>
          </div>
          <div id="ServiciosAsignadosaContendores" class="form-group row" >
            <div class="row">
              <div style="width: 97%;overflow-y: hidden;">
               <table id="3" datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptionsServiciosContenedores"
                  [dtTrigger]="dtTriggerServiciosContenedores" > 
                  <thead>
                    <tr>
                      <th>Nro</th>
                      <th>Contenedor</th>
                      <th>Servicio</th>
                      <th>Tipo de Empaque</th>
                      <th>Bultos</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.ServiciosContenedores">
                      <td>{{item.ORDEN}}</td>
                      <td>{{item.CONTNUMERO}}</td> 
                      <td>{{item.SERVDESCRIPCION}}</td> 
                      <td>{{item.Empaque}}</td>
                      <td>{{item.BULTOS}}</td>
                      <td><a (click)="EliminarServicioContenedor(item.ORDEN)"><img src="assets/images/delete.png"></a></td>
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>



          </div>
        </div>


      </div>
    </div>
  </form>



  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <!-- <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 1px 5px 2px;width: auto;"> -->
      <button type="submit" (click)="AgregarSolicitud(formUsuario)" class="btn btn-w-m btn-primary">Grabar</button>
      <button (click)="cerrarPopup()" class="btn btn-w-m btn-default" style="margin-left: 15px;">Cancelar</button></div>
  </div>
</div>