<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Consulta de Facturas</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">
<!--               <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                <select name="listEstado"  class="form-control" (change)="ChangingValue($event)">
                  <option [value]="" selected hidden>--Tipo Consulta--</option>
                  <option *ngFor="let item of this.ListaEstado" [value]="item.Entidad">{{item.Nombre}}</option>
                </select>
              </div> -->
              <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                <select name="listEstado"  class="form-control" (change)="ChangingValue($event,'Estado')">
                  <option [value]="" selected hidden>--Unidad Negocio--</option>
                  <option *ngFor="let item of this.ListaEstado" [value]="item.EstadoCodigo">{{item.EstadoDesc}}</option> 
                </select>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_FechaDeNum" placeholder="Desde" class="form-control  tamanio-device" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}"  autocomplete="off" required>
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_FechaDeNum" placeholder="Hasta" class="form-control  tamanio-device" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}"  autocomplete="off" required>
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_NroDocumento" placeholder="Registro / Nro Documento" class="form-control" [ngModel] required /> 
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_NroDocumento" placeholder="Cliente" class="form-control" [ngModel] required /> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="reset" (click)="SiTieneData(false)"
              class="btn btn-default block  m-b tamanio-device">Limpiar</button></div>

              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="button" (click)="CargarGrilla(formFact)"
                class="btn btn-primary block m-b tamanio-device"  >Buscar</button></div>

<!--                 <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                  <button type="button" (click)="popupNuevaRefrendoExpo()"
                  class="btn btn-primary block m-b tamanio-device"  >Nuevo</button>
                </div> -->
            </div>
          </form>
          <div class="row">
            <div id="grilla"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" > 
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>N° Booking</th>
                    <th>Modalidad</th>
                    <th>DAM</th>
                    <th>N° Orden</th>
                    <th>Fecha Numeración</th>
                    <th>Canal</th>
                    <th>Observacion</th>
                    <th>Estado</th>
                   <!--  <th colspan="4" style="width: 10%;">Accion</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objConsultaRefrendoExpoRPT">
                    <td>{{item.Codigo}}</td>
                    <td>{{item.Booking}}</td> 
                    <td>{{item.Modalidad}}</td>
                    <td>{{item.DAM}}</td>
                    <td>{{item.NroOrden}}</td>
                    <td>{{item.FechaNumeracion}}</td>
                    <td>{{item.Canal}}</td>
                    <td>{{item.Observacion}}</td> 
                    <td>{{item.Estado}}</td> 
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
