<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 0px 0px 0px;">
  <div class="modal-header" style="display: inline-flex; align-items: center;width: 100%; padding: 0px 0px 5px 0px;">
    <img style="width: 32px;height: 32px;" src="assets/images/RosaNautica4.png">
    <h4 class="modal-title pull-left" style="display: inline-table;">Generar Refrendo Exportación N° </h4>
    <button type="button" class="close pull-right" style="position: absolute; right: 15px;" aria-label="Close"
      (click)="cerrarPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="m-t" role="form" #formUsuario="ngForm" >
    <div class="ibox-content cuerpo-con-overflow">
      <div id="top" class="form-group row">
        <label class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 0px;padding-top: 7px;">
          N° Booking :</label>
        <div class="col-xs-12 col-sm-4 col-lg-4" style="padding-left: 5px;">
          <input type="text" name="txtbox_NBooking" class="form-control tamanio-device" [ngModel]>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 label_device" style="padding-left: 5px;padding-bottom: 10px;">
          <select name="listModalidad" class="form-control" style=" padding-left: 5px;padding-right: 5px;"
            (change)="ChangingValue($event,'Modalidad')">
            <option [value]="" selected hidden>--Modalidad--</option>
            <option *ngFor="let item of this.ListaModalidad" [value]="item.EmpaCodigo">{{item.EmpaIdentificador}}
            </option>
          </select>
        </div>
        <div class="col-xs-5 col-sm-2 col-lg-2" style="padding: 1px 5px 2px;width: auto;"><button type="button"
            (click)="BuscarBooking(formUsuario)" class="btn btn-primary block m-b tamanio-device">Buscar</button></div>
      </div>
      <div class="loading" *ngIf="loading" style="height: 500px;margin-right: 0px;margin-left: 0px;display: flex;justify-content: center;align-items: center;" >
        <img src = "assets/images/loader.gif" style="width: 150px;height: 100px;">
     </div>
      <div>
        <!-- ------------PARTE 1------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">DAM</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('DAM')"></b>
          </div>
          <div id="DAM">
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Exportador :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
 <!--                <input type="text" [(ngModel)]="Exportador" maxlength="50" name="txtbox_Exportador"
                  class="form-control"> -->

                  <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Exportador" matInput [formControl]="ControlEntidades"
                      [matAutocomplete]="Exportador">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Entidad')" #Exportador="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredEntidad | async" [value]="enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Despachador :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Despachador" maxlength="50" name="txtbox_Despachador"
                  class="form-control">
<!--                   <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Despachador" matInput [formControl]="ControlDespachador"
                      [matAutocomplete]="Despachador">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Despachador')" #Despachador="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredDespachador | async" [value]="enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Agencia de
                Aduana:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="AgenciaDeAduana" maxlength="50" name="txtbox_AgenciaDeAduana"
                  class="form-control">
<!--                   <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Agencia Aduana" matInput [formControl]="ControlAgenciaAduana"
                      [matAutocomplete]="AgenciaAduana">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'AgenciaAduana')" #AgenciaAduana="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredAgenciaAduana | async" [value]="enti.Entidad + ',' + enti.Nombre">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Nro de Orden :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="number" [(ngModel)]="NroDeOrden" maxlength="50" name="txtbox_NroDeOrden" 
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Nro de DAM :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
              <div class="col-xs-12 col-sm-3 col-lg-3" style="padding-left: 0px;">
                <input type="number" readonly="readonly" [(ngModel)]="Aduana" maxlength="2" name="txtbox_Aduana" class="form-control" style="width: 71px;">
              </div> 
              <div class="col-xs-12 col-sm-3 col-lg-3" style="padding-left: 0px;">
                <select name="listaAnio" class="form-control" style=" padding-left: 5px;padding-right: 5px;width: 72px;"
                [(ngModel)]="AnioSelect" (change)="ChangingValue($event,'Anio')">
                <option [value]="" selected hidden>--Año--</option>
                <option *ngFor="let item of this.ListaAnio" [value]="item.Anio">{{item.Descripcion}}
                </option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-3 col-lg-3" style="padding-left: 0px;">
               <!--  <input type="number" [(ngModel)]="Regimen" maxlength="2" name="txtbox_Regimen" class="form-control" style="width: 71px;padding-right: 0px;"> -->
                  <select name="listRegimen" class="form-control" style=" padding-left: 5px;padding-right: 5px;"
                  (change)="ChangingValue($event,'Regimen')">
                  <option [value]="" selected hidden>--Regimen--</option>
                  <option *ngFor="let item of this.ListaRegimen" [value]="item.Codigo">{{item.Codigo}}
                  </option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-3 col-lg-3" style="padding-left: 0px;">
                <input type="number" [(ngModel)]="NroDeDAM" maxlength="4" name="txtbox_NroDeDAM" class="form-control" style="width: 71px;padding-right: 0px;">
              </div>
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Fecha de Num :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" name="txtbox_FechaDeNum" placeholder="Fecha" class="form-control  tamanio-device" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}" [(ngModel)]="FechaDeNum" autocomplete="off" required>
<!--                 <input type="text" [(ngModel)]="FechaDeNum" maxlength="50" name="txtbox_FechaDeNum"
                  class="form-control"> -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Mercancia :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" [(ngModel)]="Mercaderia"  name="txtbox_Mercaderia"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Mandato Electronico :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <label for="rbt01" style="padding-right: 5px;">SI</label>
                <input type="radio" id="rbt02" name="rbtTieneMandatoElectronico" (click)="ChangingValue($event,'MandatoElectronico')"  value="001"
                  style="width: auto;vertical-align: text-bottom;"
                  >
                <label style="padding-right: 5px;padding-left: 10px;">NO</label>
                <input type="radio" name="rbtTieneMandatoElectronico" (click)="ChangingValue($event,'MandatoElectronico')" value="002" style="width: auto;vertical-align: text-bottom;"
                  checked="checked"
                  >
              </div>


            </div>


            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Valor FOB de la Mercancia :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
<!--                 <input type="number" maxlength="50" name="txtbox_Mercaderia"
                  class="form-control"> -->
                  <input type="text" [(ngModel)]="FOB" name="txtbox_FOB" id="currency-field"  value="" data-type="currency" placeholder="$0,000,000.00">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Fecha de CutOff :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="FechaCutOff" name="txtbox_FechaCutOff" placeholder="Fecha" class="form-control  tamanio-device"  autocomplete="off" required>
<!--                 <input type="text" [(ngModel)]="FechaDeNum" maxlength="50" name="txtbox_FechaDeNum"
                  class="form-control"> bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', locale : 'es' , containerClass : 'theme-blue'}"  -->
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Nave-Viaje-Vía :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" readonly="readonly" [(ngModel)]="Viaje"  name="txtbox_Viaje"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Producto :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <!-- <input type="text" readonly="readonly"  [(ngModel)]="Producto"  name="txtbox_Producto"
                  class="form-control"> -->
                  <mat-form-field style="width: 100%;">
                    <input type="text" placeholder="Digite Producto" matInput [formControl]="ControlProductos"
                      [matAutocomplete]="Producto">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="ChangingValue($event,'Producto')" #Producto="matAutocomplete">
                      <mat-option *ngFor="let enti of filteredProducto | async" [value]="enti.Entidad">
                        {{enti.Nombre}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <!-- ------------PARTE 2------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">CONTENEDORES</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('CONTENEDORES')"></b>
          </div>
          <div id="CONTENEDORES" class="form-group row" >
            <div class="row">
              <div style="width: 102%;overflow-y: hidden;">
               <table datatable class="datatable table-striped row-border hover " [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger" > 
                  <thead>
                    <tr>
                      <th>N° Contenedor</th>
                      <!-- <th>--</th> -->
                      <th >Bultos</th>
                      <th>Peso Neto</th>
                      <th>Ticket Balanza</th>
                      <th>Precinto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.Datos">
                      <td>{{item.Contenedor}}</td> 
                      <td><input type="number" (change)="Recalcular()" name="txtbox_Bulto_{{item.Contenedor}}"  id = "txtBulto_{{item.Contenedor}}"  placeholder="Bultos"  class="form-control  tamanio-device"  [(ngModel)]="item.Bultos" style="width: 56px;padding-right: 2px;padding-left: 2px;"/></td>
                      <!-- <td >{{item.Bultos}}</td> -->
                      <td>{{item.Peso| number}}</td>
                      <td>{{item.Ticket}}</td>                      
                      <td><input type="text" name="txtbox_PctoAduana_{{item.Contenedor}}"  id = "txtPctoAduana_{{item.Contenedor}}"  placeholder="Pcto Aduana"  class="form-control  tamanio-device"  [(ngModel)]="item.Precinto" style="width: 186px;padding-right: 2px;padding-left: 2px;"/></td>
                   </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>{{this.CantidadBultos| number}}</th>
                        <th>{{this.CantidadPeso| number}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                </table>
              </div>
            </div>



          </div>
        </div>

        <!-- ------------PARTE 3------------ -->
        <div>
          <div class="form-group row titulo_boton">
            <h4 class="modal-title pull-left" style="display: inline-table;margin-top: 0px;">DOCUMENTOS</h4>
            <!-- <a style='cursor: pointer;' (click)="muestra_oculta('datosbooking')" title="" class="boton_mostrar">Mostrar / Ocultar</a> -->
            <b class="caret boton_mostrar" (click)="muestra_oculta('DOCUMENTOS')"></b>
          </div>
          <div id="DOCUMENTOS">
<!--             <div class="form-group row"><label class="col-xs-12 col-sm-4 col-lg-4 label_device">Exportador :</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 4px;">
                <input type="text" [(ngModel)]="Exportador" maxlength="50" name="txtbox_Exportador"
                  class="form-control">
              </div>
            </div> -->

            <div class="form-group row" style="margin-bottom: 0px;height: 40px;" >
              <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">DAM:</label>
              <div class="" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-xs-12 col-sm-8 col-lg-8 form-group" style="text-align: center;">
                  <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'DAM')">
<!--                   <button (click)="AgregarArchivo(this.filename_DAM,'DAM')" class="btn btn-primary m-b">Agregar</button>
                  <button (click)="EliminarSelect('DAM')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button> -->
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-2 form-group">
                  <a (click)="AgregarArchivo(this.filename_DAM,'DAM')"  ><img src="assets/images/add-1-icon.png" style="padding-top: 8px; padding-right: 6px;" title="Añadir"></a>
                  <a (click)="EliminarSelect('DAM')"  ><img src="assets/images/delete-icon.png" style="padding-top: 8px;" title="Eliminar"></a>
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                <mat-selection-list #list_DAM >
                  <mat-list-option *ngFor="let item of this.fileitems_DAM" (click)="onListControlChanged(list_DAM,'DAM')"
                  [value]="item.name" style="font-size: smaller;height: 30px;">
                    <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                      {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                    </label>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;height: 40px;" >
              <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">GUIA REMISION:</label>
              <div class="" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-xs-12 col-sm-8 col-lg-8 form-group" style="text-align: center;">
                  <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'GUIAREMISION')">
<!--                   <button (click)="AgregarArchivo(this.filename_GUIAREMISION,'GUIAREMISION')" class="btn btn-primary m-b">Agregar</button>
                  <button (click)="EliminarSelect('GUIAREMISION')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button> -->
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-2 form-group">
                  <a (click)="AgregarArchivo(this.filename_GUIAREMISION,'GUIAREMISION')"  ><img src="assets/images/add-1-icon.png" style="padding-top: 8px; padding-right: 6px;" title="Añadir"></a>
                  <a (click)="EliminarSelect('GUIAREMISION')"  ><img src="assets/images/delete-icon.png" style="padding-top: 8px;" title="Eliminar"></a>
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                <mat-selection-list #list_GUIAREMISION >
                  <mat-list-option *ngFor="let item of this.fileitems_GUIAREMISION" (click)="onListControlChanged(list_GUIAREMISION,'GUIAREMISION')"
                  [value]="item.name" style="font-size: smaller;height: 30px;">
                    <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                      {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                    </label>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>

            <!--EIR / TARJA DE LLENADO-->
            <div id="TARJADELLENADO" *ngIf="TARJADELLENADO">
              <div class="form-group row" style="margin-bottom: 0px;height: 40px;" >
                <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">EIR / TARJA DE LLENADO:</label>
                <div class="" style="padding-left: 0px;padding-right: 0px;">
                  <div class="col-xs-12 col-sm-8 col-lg-8 form-group" style="text-align: center;">
                    <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'TARJADELLENADO')">
<!--                     <button (click)="AgregarArchivo(this.filename_TARJADELLENADO,'TARJADELLENADO')" class="btn btn-primary m-b">Agregar</button>
                    <button (click)="EliminarSelect('TARJADELLENADO')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button> -->
                  </div>
                  <div class="col-xs-12 col-sm-2 col-lg-2 form-group">
                    <a (click)="AgregarArchivo(this.filename_TARJADELLENADO,'TARJADELLENADO')"  ><img src="assets/images/add-1-icon.png" style="padding-top: 8px; padding-right: 6px;" title="Añadir"></a>
                    <a (click)="EliminarSelect('TARJADELLENADO')"  ><img src="assets/images/delete-icon.png" style="padding-top: 8px;" title="Eliminar"></a>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                  <mat-selection-list #list_TARJADELLENADO >
                    <mat-list-option *ngFor="let item of this.fileitems_TARJADELLENADO" (click)="onListControlChanged(list_TARJADELLENADO,'TARJADELLENADO')"
                    [value]="item.name" style="font-size: smaller;height: 30px;">
                      <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                        {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                      </label>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </div>
            <!--EIR / TARJA DE LLENADO-->
            
            <!--REPORTE DE CARGA SUELTA-->
            <div id="REPORTDECARGASUELTA" *ngIf="REPORTDECARGASUELTA">
              <div class="form-group row" style="margin-bottom: 0px;height: 40px;" >
                <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">REPORTE DE CARGA SUELTA:</label>
                <div class="" style="padding-left: 0px;padding-right: 0px;">
                  <div class="col-xs-12 col-sm-8 col-lg-8 form-group" style="text-align: center;">
                    <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'REPORTDECARGASUELTA')">
<!--                     <button (click)="AgregarArchivo(this.filename_REPORTDECARGASUELTA,'REPORTDECARGASUELTA')" class="btn btn-primary m-b">Agregar</button>
                    <button (click)="EliminarSelect('REPORTDECARGASUELTA')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button> -->
                  </div>
                  <div class="col-xs-12 col-sm-2 col-lg-2 form-group">
                    <a (click)="AgregarArchivo(this.filename_REPORTDECARGASUELTA,'REPORTDECARGASUELTA')"  ><img src="assets/images/add-1-icon.png" style="padding-top: 8px; padding-right: 6px;" title="Añadir"></a>
                    <a (click)="EliminarSelect('REPORTDECARGASUELTA')"  ><img src="assets/images/delete-icon.png" style="padding-top: 8px;" title="Eliminar"></a>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                  <mat-selection-list #list_REPORTDECARGASUELTA>
                    <mat-list-option *ngFor="let item of this.fileitems_REPORTDECARGASUELTA" (click)="onListControlChanged(list_REPORTDECARGASUELTA,'REPORTDECARGASUELTA')"
                    [value]="item.name" style="font-size: smaller;height: 30px;">
                      <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                        {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                      </label>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </div>
            <!--REPORTE DE CARGA SUELTA-->

<!--             <div class="form-group row" >
              <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">TICKET DE PESO:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 0px;">
                <div class="form-group" style="text-align: center;">
                  <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'TICKETDEPESO')">
                  <button (click)="AgregarArchivo(this.filename_TICKETDEPESO,'TICKETDEPESO')" class="btn btn-primary m-b">Agregar</button>
                  <button (click)="EliminarSelect('TICKETDEPESO')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button>
                </div>
      
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                <mat-selection-list #list_TICKETDEPESO >
                  <mat-list-option *ngFor="let item of this.fileitems_TICKETDEPESO" (click)="onListControlChanged(list_TICKETDEPESO,'TICKETDEPESO')"
                    [value]="item.name" style="font-size: smaller;">
                    <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                      {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                    </label>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div> -->

<!--             <div class="form-group row" >
              <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">BOOKING:</label>
              <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-left: 0px;padding-right: 0px;">
                <div class="form-group" style="text-align: center;">
                  <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'BOOKING')">
                  <button (click)="AgregarArchivo(this.filename_BOOKING,'BOOKING')" class="btn btn-primary m-b">Agregar</button>
                  <button (click)="EliminarSelect('BOOKING')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button>
                </div>
      
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                <mat-selection-list #list_BOOKING >
                  <mat-list-option *ngFor="let item of this.fileitems_BOOKING" (click)="onListControlChanged(list_BOOKING,'BOOKING')"
                    [value]="item.name" style="font-size: smaller;">
                    <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                      {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                    </label>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div> -->

            <div class="form-group row" style="margin-bottom: 0px;height: 40px;" >
              <label class="col-sm-2 col-form-label" style="padding-left: 0px;padding-right: 0px;">OTROS:</label>
              <div class="" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-xs-12 col-sm-8 col-lg-8 form-group" style="text-align: center;">
                  <input class="form-control tamanio-device" style="margin-bottom: 10px;" type="file" [accept]="['.jpg','.jpeg','.pdf','.png']" (change)="changeListener($event,'OTROS')">
                </div>
                  <div class="col-xs-12 col-sm-2 col-lg-2 form-group">
                  <a (click)="AgregarArchivo(this.filename_OTROS,'OTROS')"  ><img src="assets/images/add-1-icon.png" style="padding-top: 8px; padding-right: 6px;" title="Añadir"></a>
                  <a (click)="EliminarSelect('OTROS')"  ><img src="assets/images/delete-icon.png" style="padding-top: 8px;" title="Eliminar"></a>
                  </div>
                  <!-- <button (click)="AgregarArchivo(this.filename_OTROS,'OTROS')" class="btn btn-primary m-b">Agregar</button> -->
                  <!-- <button (click)="EliminarSelect('OTROS')" class="btn btn-default m-b" style="margin-left: 10px;">Eliminar</button> -->

      
              </div>
            </div>
            <div class="form-group row" style="margin-bottom: 0px;">
              <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;" >
                <mat-selection-list #list_OTROS >
                  <mat-list-option *ngFor="let item of this.fileitems_OTROS" (click)="onListControlChanged(list_OTROS,'OTROS')"
                    [value]="item.name" style="font-size: smaller;height: 30px;">
                    <label style="color:blue;">Archivo: {{item.name}} Tamaño:
                      {{((item.size/1024)/1024) | number: '1.1-2'   }} MB
                    </label>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
<!--             <div class="form-group row">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <label style="color:blue; font-style: normal;size: initial; ">Total:
                  {{(this.TotalMB) | number: '1.1-2' }} MB </label>
              </div>
            </div>
            <div class="form-group row">
              <div *ngIf="this.EsMayor5">
                <label style="color: red;" class="col-xs-12 col-sm-12 col-lg-12">No se puede cargar mas de 5MB como conjunto de
                  Archivos</label>
              </div>
            </div> -->

          </div>
        </div>

      </div>
    </div>
  </form>



  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 20px 5px 2px;">
      <!-- (click)="AgregarRefrendo(formUsuario)""<div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;padding: 1px 5px 2px;width: auto;"> -->
      <button  onclick=" location.href = '#top'"  type="submit" class="btn btn-w-m btn-primary">Grabar</button>
      <button (click)="cerrarPopup()" class="btn btn-w-m btn-default" style="margin-left: 15px;">Cancelar</button></div>
  </div>
</div>
<script>
  function myFunction() {
    location.href = "#Busqueda";
  }
  </script>