<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Refrendo Exportación</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <form class="m-t" role="form" #formFact="ngForm" (ngSubmit)="CargarGrilla(formFact)">
            <div class="row">
              <div class="col-sm-2" style="padding-left: 0px;padding-right: 4px;;padding-top: 6px">
                <label for="rbt001" style="padding-right: 5px;">Booking</label>
                <input type="radio" id="rbt002" name="rbtSeleccion" [(ngModel)]="Seleccion_Opcion" value="B"
                  style="width: auto;vertical-align: text-bottom;">
                <label style="padding-right: 5px;padding-left: 10px;">DAM</label>
                <input type="radio" name="rbtSeleccion" [(ngModel)]="Seleccion_Opcion" value="D" style="width: auto;vertical-align: text-bottom;"
                  checked="checked">
              </div>
              <div class="col-sm-2" style="padding-left: 5px;">
                <div class="form-group">
                  <input type="text" name="txtbox_NroDocumento" placeholder="Nro Documento" class="form-control" [ngModel] required /> 
                </div>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                <select name="listEstado"  class="form-control" (change)="ChangingValue($event,'Estado')">
                  <option [value]="" selected hidden>--Estado--</option>
                  <option *ngFor="let item of this.ListaEstado" [value]="item.EstadoCodigo">{{item.EstadoDesc}}</option> 
                </select>
              </div>
              <div class="col-sm-2" style="padding-left: 5px;padding-bottom: 10px;">
                <select name="listEstado"  class="form-control" (change)="ChangingValue($event,'Modalidad')">
                  <option [value]="" selected hidden>--Modalidad--</option>
                  <option *ngFor="let item of this.ListaModalidad" [value]="item.EmpaCodigo">{{item.EmpaIdentificador}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="reset" (click)="SiTieneData(false)"
              class="btn btn-default block  m-b tamanio-device">Limpiar</button></div>

              <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                <button type="button" (click)="CargarGrilla(formFact)"
                class="btn btn-primary block m-b tamanio-device"  >Buscar</button></div>

                <div class="col-xs-5 col-sm-3 col-lg-2" style="padding: 1px 5px 2px;width: auto;">
                  <button type="button" (click)="popupNuevaRefrendoExpo()"
                  class="btn btn-primary block m-b tamanio-device"  >Nuevo</button></div>
            </div>
          </form>
          <div class="row">
            <div id="grilla"  class="table-responsive" >
             <table datatable class="datatable table-striped row-border hover" [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" > 
                <thead>
                  <tr>
                    <th style="text-align: -webkit-center;" >Codigo</th>
                    <th style="text-align: -webkit-center;" >N° Booking</th>
                    <th style="text-align: -webkit-center;" >Modalidad</th>
                    <th style="text-align: -webkit-center;" >DAM</th>
                    <th style="text-align: -webkit-center;" >N° Orden</th>
                    <th style="text-align: -webkit-center;" >Fecha Numeración</th>
                    <th style="text-align: -webkit-center;" >Canal</th>
                    <th style="text-align: -webkit-center;" >Observacion</th>
                    <th style="text-align: -webkit-center;" >Estado</th>
                    <th colspan="2" style="text-align: -webkit-center;" >Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.objConsultaRefrendoExpoRPT">
                    <td style="text-align: -webkit-center;" >{{item.Codigo}}</td>
                    <td style="text-align: -webkit-center;" >{{item.Booking}}</td> 
                    <td style="text-align: -webkit-center;" >{{item.Modalidad}}</td>
                    <td style="text-align: -webkit-center;" >{{item.DAM}}</td>
                    <td style="text-align: -webkit-center;" >{{item.NroOrden}}</td>
                    <td style="text-align: -webkit-center;" >{{item.FechaNumeracion}}</td>
                    <td style="text-align: -webkit-center;" >{{item.Canal}}</td>
                    <td style="text-align: -webkit-center;" >{{item.Observacion}}</td> 
                    <td style="text-align: -webkit-center;" >{{item.Estado}}</td> 
                    <td style="text-align: -webkit-center;" ><a ><img  style="width: 16px;" src="assets/images/imprimir.png"></a></td>
                    <td style="text-align: -webkit-center;" ><a (click)="popupAnularRefrendoExpo(item.Codigo)" ><img src="assets/images/delete.png"></a></td> 
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
