<section id="report">
    <div class="row">    
      <div class="col-lg-12">
          <div class="ibox ">            
              <div class="ibox-content">
                  <div class="row">
                          <div class="col-lg-3">
                                  <ul class="stat-list">
                                      <li>
                                          <div class="ibox ">
                                              <div class="ibox-title">
                                                  <span class="label label-success float-left">Abandono Legal</span>                                    
                                              </div>
                                              <div class="ibox-content">
                                                  <h1 class="no-margins">{{this.stocktotal}}</h1>
                                                  <small>Contenedores</small>
                                               </div>
                                          </div>
                                      </li>                                            
                                 </ul>
                      </div>    
                      <div class="col-lg-5">
                           <canvas id="barChartH"  ></canvas> 
                      </div>                  
                  </div>
             </div>
        </div>
      </div>   
      </div>
      </section>
  
