.descripcion > li {
    display: inline-block;
    /* margin: 2px; */
    height: 0.15vh;
}


.descripcion > * > * {
    display: block;
    justify-content: space-evenly;
    text-align: justify;
}

div > span{
    display: inline-block;
}

.labelsgraph {
    height: fit-content;
    align-items: ;

}

.labelsgraph > * {
    display: inline-block;
    margin-right: 10px;
    top: 0%;
}

.container-graph {
    height: 500px !important;
}

div > section {
    /* transform: translateY(100px); */
}



@media screen and (min-width:1024px) {
    .cuerpo-con-overflow {
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
      border: none;
      padding-top: 0px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 510px;
      margin: '0 auto';
    }
  }
  
  @media screen and (max-width:1024px) and (min-width:640px) {
  .cuerpo-con-overflow {
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    border: none;
    padding-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 630px;
    margin: '0 auto';
  }
  } 
  
   @media screen and (max-width:640px) { 
    .cuerpo-con-overflow {
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
      border: none;
      padding-top: 0px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 490px;
      margin: '0 auto';
    }
    
  } 
  