<section id="report">
<div class="row">
  <div class="col-lg-12">
      <div class="ibox ">           
      <div class="ibox-content">
          <div class="row">
              <div class="col-lg-2">
                          <ul class="stat-list">
                              <li>
                                  <div class="ibox ">
                                      <div class="ibox-title">
                                      </div>
                                      <div class="ibox-content">
                                          <h1 class="no-margins">{{this.stocktotal}}</h1>
                                          <small>Contenedores</small>
                                       </div>
                                  </div>
                              </li>                                            
                         </ul>
              </div>            
              <div class="col-lg-6">
                  <td style ="width: 700px; height : 100px"> <canvas id="barChart2"  ></canvas>  </td>
              </div>
              <div class="col-lg-4">
                  <ul class="stat-list">
                      <li>
                          <div class="ibox ">
                              <div class="ibox-title">
                                  <span class="label label-success float-left">Tamaño 20</span>                                    
                              </div>
                              <div class="ibox-content">
                                  <h1 class="no-margins">{{this.stk20}}</h1>
                                  <small>Contenedores</small>
                                  <div class="stat-percent"> 
                                          <span class="font-bold text-danger">{{this.stk20ST}} ST </span>
                                          <span class="font-bold text-navy">{{this.stk20OT}} Otros </span>                                
                                  </div>                                    
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="ibox ">
                              <div class="ibox-title">
                                  <span class="label label-success float-left">Tamaño 40</span>                                    
                              </div>
                              <div class="ibox-content">
                                  <h1 class="no-margins">{{this.stk40}}</h1>                            
                                  <small>Contenedores</small>                                                     
                                  <div class="stat-percent">                                   
                                  <span class="font-bold text-danger">{{this.stk40ST}} ST </span>
                                  <span class="font-bold text-info">{{this.stk40HC}} HC </span>
                                  <span class="font-bold text-navy">{{this.stk40OT}} Otros </span>                                
                                  </div>
                              </div>
                          </div>
                      </li>                     
                      </ul>
                  </div>
              </div>
          </div>
    </div>
  </div>
  </div>
</section>
  
