<section id="report">

  <ul class="descripcion">
    <li class="labelsgraph">
      <h1>{{this.stocktotal}}</h1>
      <small>Contenedores</small>
    </li>
    <li class="labelsgraph">
      <h1>{{this.stk20}}</h1>
      <small>Contenedores</small>
    </li>
    <li class="labelsgraph">
      <span class="label label-success">Tamaño 20</span>      
      <span class="font-bold text-danger">{{this.stk20ST}} ST </span>
      <br/>
      <span class="font-bold text-navy">{{this.stk20OT}} Otros </span>
    </li>
    <li class="labelsgraph">
        <h1>{{this.stk40}}</h1>
        <small>Contenedores</small>
    </li>
    <li class="labelsgraph">
      <span class="label label-success">Tamaño 40</span> 
      <span class="font-bold text-danger">{{this.stk40ST}} ST </span>
      <span class="font-bold text-info">{{this.stk40HC}} HC </span>
      <span class="font-bold text-navy">{{this.stk40OT}} Otros </span>
    </li>
  </ul>
  <canvas id="barChartEstadia" (click)="VerDetalleEst($event)"  ></canvas>
</section>
