
<section id="report">
     <div class = "col-lg-2" >                              
        <h1 class="no-margins">{{this.stocktotal}}</h1>
        <small>Contenedores</small>                                                                         
      </div>
      <div class = "col-lg-4" >                   
        <span class="label label-success float-left">Tamaño 20</span>   
        
        <h1 class="no-margins">{{this.stk20}}</h1>
        <small>Contenedores</small>                                    
        <div> 
                <span class="font-bold text-danger">{{this.stk20ST}} ST </span>
                <span class="font-bold text-navy">{{this.stk20OT}} Otros </span>                                
        </div>                                
     </div> 

     <div class = "ColEstadia">                   
        <span class="label label-success float-left">Tamaño 40</span>        
        <h1 class="no-margins">{{this.stk40}}</h1>                            
        <small>Contenedores</small>                                                     
        <div>                                   
        <span class="font-bold text-danger">{{this.stk40ST}} ST </span>
        <span class="font-bold text-info">{{this.stk40HC}} HC </span>
        <span class="font-bold text-navy">{{this.stk40OT}} Otros </span>                                
        </div>
    </div>
     
     
      <div>
          <canvas id="barChartEstadia"  ></canvas>  
     </div>
  
</section>
