.descripcion > li {
    display: inline-block;
    /* margin: 2px; */
    height: 0.15vh;
}


.descripcion > * > * {
    display: block;
    justify-content: space-evenly;
    text-align: justify;
}

div > span{
    display: inline-block;
}

.labelsgraph {
    height: fit-content;
    align-items: ;

}

.labelsgraph > * {
    display: inline-block;
    margin-right: 10px;
    top: 0%;
}

.container-graph {
    height: 500px !important;
}

div > section {
    /* transform: translateY(100px); */
}