<section id="report">
    <div class="row">
          <div class="ibox ">           
          <div class="ibox-content">
              <div class="row">
                  <div class="col-lg-2">
                              <ul class="stat-list">
                                  <li>
                                      <div class="ibox ">                                    
                                          <div class="ibox-content">
                                              <h1 class="no-margins">{{this.stocktotal}}</h1>
                                              <small>Contenedores</small>
                                           </div>
                                      </div>
                                  </li>                                   
                             </ul>
                  </div>  
                  <div class="col-lg-2">
                    <ul class="stat-list">
                        <li>
                            <div class="ibox">
                                
                                <div class="ibox-content">
                                    <span class="label label-success float-left">Tamaño 20</span>   
                                    
                                    <h1 class="no-margins">{{this.stk20}}</h1>
                                    <small>Contenedores</small>                                    
                                    <div> 
                                            <span class="font-bold text-danger">{{this.stk20ST}} ST </span>
                                            <span class="font-bold text-navy">{{this.stk20OT}} Otros </span>                                
                                    </div>                            
                                </div>
                            </div>
                        </li>                                   
                   </ul>
                </div> 
            
                
                <div class="col-lg-3">
                    <div class="ibox ">                    
                        <div class="ibox-content">
                            <span class="label label-success float-left">Tamaño 40</span>        
                            <h1 class="no-margins">{{this.stk40}}</h1>                            
                            <small>Contenedores</small>                                                     
                            <div>                                   
                            <span class="font-bold text-danger">{{this.stk40ST}} ST </span>
                            <span class="font-bold text-info">{{this.stk40HC}} HC </span>
                            <span class="font-bold text-navy">{{this.stk40OT}} Otros </span>                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-7">
                    <canvas id="barChart2"  ></canvas>  
               </div>


            </div>
                
                


                 



                  
              </div>
        </div>
      </div>
    </section>
