<section id="report">
    <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">                   
                        <h5>Stock x Cliente</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">146</h1>
                        <div class="stat-percent font-bold text-success">Tipo 20HC <i class="fa fa-bolt"></i></div>
                        <small>Contenedores</small>
                    </div>
                </div>
            </div>       
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">            
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <td style ="width: 700px; height : 50%"> <canvas id="barChart"  ></canvas>  </td>
                        </div>                  
                    </div>
               </div>
          </div>
        </div>   
      </div>
    
      <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">                   
                    <h5>Stock por Capacidad y Tipo Contenedor</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">146</h1>                
                    <small>Contenedores</small>
                </div>
            </div>
        </div>       
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">           
            <div class="ibox-content">
                <div class="row">            
                    <div class="col-lg-9">
                        <td style ="width: 700px; height : 50%"> <canvas id="barChart2"  ></canvas>  </td>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li>
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <span class="label label-success float-left">Tipo 20H</span>                                    
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">86</h1>
                                        <small>Contenedores</small>
                                        <div class="stat-percent font-bold text-success">60 ST  26 Otros<i class="fa fa-bolt"></i></div>                                    
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <span class="label label-success float-left">Tipo 40H</span>                                    
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">60</h1>
                                        <small>Contenedores</small>
                                        <div class="stat-percent font-bold text-success">40 ST  20 Otros<i class="fa fa-bolt"></i></div>                                    
                                    </div>
                                </div>
                            </li>                     
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">            
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <td style ="width: 700px; height : 50%"> <canvas id="barChartH"  ></canvas>  </td>
                        </div>                  
                    </div>
               </div>
          </div>
        </div>   
      </div>
        
     </section>
    