<section id="report">
  <div *ngIf="this.esAgenteAduanas">
    <!-- <ul class="stat-list">
        <li> -->
    <div class="descripcion">
      <h1>{{this.stocktotal}}</h1>
      <small>Contenedores</small>
    </div>
    <!-- </li>
      </ul> -->
      <div style="padding-top: 10px;">
        <canvas id="barChartCliente" (click)="VerDetalle($event)"  style="position: relative; height:200vh; width:200vw" >  </canvas>
       </div> 
    <!-- <canvas id="barChartCliente" (click)="VerDetalle($event)"style="position: relative; height:40vh; width:80vw" >  </canvas> -->
  </div>
</section>


