<section id="report">
    <div  *ngIf = "this.esAgenteAduanas" class="row">   
        <div class="ibox ">           
        <div class="ibox-content">
            <div class="row">  
                <div class="col-lg-2">
                        <ul class="stat-list">
                            <li>
                                <div class="ibox ">
                                    <div class="ibox-title">                                                                                       
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">{{this.stocktotal}}</h1>
                                        <small>Contenedores</small>
                                     </div>
                                </div>
                            </li>                                                           
                            </ul>
                        </div>          
            <div class="col-lg-10">
                <canvas id="barChart"  ></canvas> 
            </div>                           
        </div>
            </div>
      </div>
    </div>
  </section>

