<section id="report">
  <div>
    <label>Registro DT : </label>
    <mat-form-field>
      <input type="text" placeholder=" Digite el Registro" matInput [formControl]="myRegistroDT"
        [matAutocomplete]="autoDT">
      <mat-autocomplete id="ListaDT" autoActiveFirstOption (optionSelected)="ChangingRegistroDT($event)"
        #autoDT="matAutocomplete">
        <mat-option *ngFor="let regdt of filteredRegDT | async" [value]="regdt">
          {{regdt}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <canvas style="height: 80%" id="barChartDT"></canvas>
    </div>
  </div>
</section>
