<section id="report">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label"></label>
    <div class="col-sm-8">
      <label>Registro DA : </label>
      <mat-form-field>
        <input type="text" placeholder=" Digite el Registro" matInput [formControl]="myRegistro"
          [matAutocomplete]="autox">
        <mat-autocomplete id="ListaDA" autoActiveFirstOption (optionSelected)="ChangingRegistro($event)"
          #autox="matAutocomplete">
          <mat-option *ngFor="let reg of filteredReg | async" [value]="reg">
            {{reg}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-10">
        <td style="width: 900px; height : 50%">
          <canvas id="barChartDA"></canvas> </td>
      </div>
    </div>
  </div>
</section>
