<section id="report">
    <div class="row">
      <label>Registro DA : </label>
      <mat-form-field>
        <input type="text" placeholder=" Digite el Registro" matInput [formControl]="myRegistro"
          [matAutocomplete]="autox">
        <mat-autocomplete id="ListaDA" autoActiveFirstOption (optionSelected)="ChangingRegistro($event)"
          #autox="matAutocomplete">
          <mat-option *ngFor="let reg of filteredReg | async" [value]="reg">
            {{reg}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  <div class="row">
      <div>
          <canvas id="barChartDA"></canvas> 
      </div>
  </div>
</section>
